.bx-wrapper {
    text-align: center;
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 1440px) {
.bx-wrapper {
    margin-bottom: 20px;
    }
}

@media screen and (max-width: 1090px) {
    .bx-viewport {
        margin-bottom: 14px;
    }

    .bx-pager {
        padding-bottom: 51px;
    }
}

@media screen and (max-width: 800px) {
    .bx-wrapper {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 550px) {
    .bx-wrapper {
        margin-bottom: -30px;
    }
}

@media screen and (max-width: 360px) {
    .bx-wrapper {
        margin-bottom: -45px;
    }    
}
